.products-area{
    margin: 50px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center;
}