.product-details-area{
    margin: 50px 80px;
}
.product-details-data{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    font-family: 'Jost';
    justify-items: center;
    align-items: center;
}
.product-details-left img{
    width: 80%;
}
.product-details-right h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-details-right h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-details-right h4{
    display: flex;
    align-items: center;
}
.product-details-right span{
    margin-left: 20px;
}
.categories{
    font-size: 22px;
    margin: 20px 0;
}
.buy-button button{
    width: 180px;
    margin-right: 20px;
    background: #C8815F;
    padding: 12px 0;
    color: white;
    border: 2px solid #C8815F;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
.buy-button button:hover{
    color: #C8815F;
    background: white;
}
.size-category{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.size-category p{
    font-size: 28px;
}   
.size-tag{
    font-size: 22px;
    border: 2px solid #a3a3a3;
    padding: 3px 5px;
    border-radius: 5px;
}
.checkout-section{
    margin: 20px 0;
    background: #F9F9F9;
    padding: 10px 8px;
}
.checkout-section p{
    font-size: 20px;
    color: #555;
}
.payment-method img{
    width: 50px;
    margin: 5px 10px;
}
.delivary{
    margin: 20px 0;
}
.delivary .delivary-icon{
    font-size: 30px;
}
.delivary span{
    color: #555;
    font-size: 22px;
}